<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>疫情防控数据平台</title>
    <link rel="stylesheet" href="/layui/css/layui.css" th:href="@{/layui/css/layui.css}">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">无聊</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">占个位置</a></li>

        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item"><a href="">去登录</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">疫情实时情况</a>
                    <dl class="layui-nav-child">
<!--                        这一段对于tab弹窗的影响：
                            1. data-url是访问链接
                            2. data-id 不要重复
                            3. data-title 作为弹出层的标题
                            4. site-active 作为js控制能否弹出的条件
-->
                        <dd><a href="javascript:;" data-url="hotpot" data-id="6" data-title="疫情热点图"
                               class="site-active" data-type="tabAdd">疫情热点图</a></dd>
                        <dd><a href="javascript:;" data-url="trend" data-id="7" data-title="疫情新增趋势图"
                               class="site-active" data-type="tabAdd">疫情新增趋势图</a></dd>
                        <dd><a href="javascript:;" data-url="table_for_data" data-id="8" data-title="数据表格"
                               class="site-active" data-type="tabAdd">数据表格</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">省市疫情查询</a>
                    <dl class="layui-nav-child">
                        <!--关于页面的跳转请写在homeController中，其页面内部功能的实现请尽情发挥,单独分controller吧-->
                        <dd><a href="javascript:;" data-url="provinces" data-id="9" data-title="城市数据"
                               class="site-active" data-type="tabAdd">省份数据</a></dd>
                        <dd><a href="javascript:;" data-url="city" data-id="10" data-title="省份数据"
                               class="site-active" data-type="tabAdd">湖北省城市数据</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item">
                    <a href="javascript:;">医疗数据填报</a>
                    <dl class="layui-nav-child">
                        <!--关于页面的跳转请写在homeController中，其页面内部功能的实现请尽情发挥,单独分controller吧-->
                        <dd><a href="javascript:;" data-url="hotpot" data-id="11" data-title="口罩预约"
                               class="site-active" data-type="tabAdd">口罩预约</a></dd>
                        <dd><a href="javascript:;" data-url="hotpot" data-id="12" data-title="情况调查"
                               class="site-active" data-type="tabAdd">情况调查</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">全民热搜</a>
                    <dl class="layui-nav-child">
                        <!--关于页面的跳转请写在homeController中，其页面内部功能的实现请尽情发挥，单独分controller吧-->
                        <dd><a href="javascript:;" data-url="hotpot" data-id="13" data-title="疫情新闻"
                               class="site-active" data-type="tabAdd">疫情新闻</a></dd>
                        <dd><a href="javascript:;" data-url="hotpot" data-id="14" data-title="辟谣榜"
                               class="site-active" data-type="tabAdd">辟谣榜</a></dd>
                        <dd><a href="javascript:;" data-url="hotpot" data-id="15" data-title="最新新闻"
                               class="site-active" data-type="tabAdd">最新新闻</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <!-- 内容主体区域 -->
        <div class="layui-tab layui-tab-brief" lay-filter="tab" lay-allowClose="true">
            <ul class="layui-tab-title">
                <li lay-id="1" class="layui-this">首页</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <iframe data-frameid="" scrolling="auto" frameborder="0" src="home/hotpot"
                            style="width: 100%; height: 100%; min-height: 500px;"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © 无聊组 - 耗时5,184,000‬秒
    </div>
</div>
<script src="/layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script src="/js/home.js" th:src="@{/js/home.js}"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;
    });
</script>
</body>
</html>