<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>省市疫情</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>
<body>
<div class="like" style="margin-left:35%; margin-top: 10px;">
    搜索省份
    <div class="layui-inline">
        <input class="layui-input" name="proName" id="proLike" autocapitalize="off" />
    </div>
    <button class="layui-btn" data-type="reload" id="re">搜索</button>
</div>
<!--<script type="text/html" id="bar">-->
<!--    <a class="layui-btn layui-btn-xs" lay-event="add">全国对比</a>-->
<!--    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">湖北对比</a>-->
<!--</script>-->
<table id="demo" lay-filter="provinceTable"></table>
<script th:src="@{/layui/layui.js}"></script>
<!--引入自己的js-->
<script type="text/javascript" th:src="@{/js/provinces.js}"></script>
<script type="text/javascript" th:src="@{/js/data.js}"></script>
</body>
</html>
