<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}"/>
    <script th:src="@{/layui/layui.js}" type="text/javascript" charset="utf-8"></script>
    <script th:src="@{/js/rumours.js}" type="text/javascript" charset="utf-8"></script>
    <!--引入自己的js对表格进行数据渲染-->

</head>
<body>
<table id="demo" lay-filter="videoTable"></table>
</body>
</html>