<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>carousel模块快速使用</title>
    <link rel="stylesheet" href="/layui/css/layui.css" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" href="/css/hwj.css" th:href="@{/css/hwj.css}">
</head>
<body class="body">

<div class="layui-carousel" id="test1">
    <div carousel-item>
        <div><img src="/index/img/trend6.png" alt=""></div>
        <div><img src="/index/img/trend2.png" alt=""></div>
        <div><img src="/index/img/trend3.png" alt=""></div>
        <div><img src="/index/img/trend4.png" alt=""></div>
        <div><img src="/index/img/trend5.png" alt=""></div>
    </div>
</div>
<!-- 条目中可以是任意内容，如：<img src=""> -->

<script src="/layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script>
    layui.use('carousel', function(){
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#test1'
            ,width: '50%' //设置容器宽度
            ,height:350
            ,arrow: 'always' //始终显示箭头
        });
    });
</script>
</body>
</html>